<header>
  <nav>
    <%= link_to daddy_services_path do %>
      <%= image_tag "logo_daddy.png", alt: "Logo", class: "logo" %>
    <% end %>
    <div class="search-bar" data-controller="search" data-search-url-value="<%= search_daddy_services_path %>">
      <%= form_with url: search_daddy_services_path, method: :get, local: true do |f| %>
        <%= f.text_field :query,
                    placeholder: "What kind of Daddy you need?",
                    data: {
                      search_target: "input",
                      action: "keyup->search#suggest"
                    }
                %>
        <%= f.submit "Search", class: 'search-button animation-button' %>
      <% end %>
      <div class="search-suggestions"
                  data-search-target="suggestions"
                  style="display: none;">
      </div>
    </div>
    <div class="account">
      <img src="avatar.jpg" alt="Profile">
      <%= link_to current_user.username, profile_path(current_user), class: "username-link" %>
    </div>
  </nav>
</header>
<style></style>
